#section1 {
  margin:  5% 25%;
  text-align: left;
}
body {
  background-color: hsl(204, 43%, 93%);
}
.div2{
  background-color: hsl(179, 62%, 43%);
  color: white;
  padding: 3.5%;
  border-radius: 0 0 0 10px;
}
.div1 {
  background-color:white;
  padding: 4%;
  border-radius: 10px 10px 0 0;
}
.div3 {
  background-color: hsl(179, 82%, 43%);
  color: white;
  line-height: 0.5;
  border-radius: 0 0 10px 0;
  padding: 3.5%;
}
h2 {
  color:hsl(179, 62%, 43%);
  font-family: 'Karla',sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4%;
}
.yellow {
  font-family: 'Karla',sans-serif;
  font-size: 1.5rem;
  color:hsl(71, 73%, 54%);
}
p{
  font-size: 1rem;
  font-family: 'Karla',sans-serif;
  font-weight: 400;
  color:white;
}
.div1p{
  color:hsl(218, 22%, 67%);
}
span {
  font-size: 3.5rem;
}
.div3h3 {
  margin-bottom: 8%;
}
@media (max-width:992px) {
  .div2{
    border-radius: 0;
    padding: 5%;
  }
  .div3{
    border-radius: 0 0 10px 10px;
    padding: 5%;
  }
  .div1 {
    padding: 5%;
  }
}
